<%- include('partials/header', { user }) %>

<div class="card shadow-sm">
  <div class="card-header bg-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">
      <i class="bi bi-table"></i> Data Barang
    </h5>

    <% if (user.role === 'manager') { %>
      <a href="/dashboard/add" class="btn btn-success btn-sm">
        <i class="bi bi-plus-circle"></i> Tambah Barang
      </a>
    <% } %>
  </div>

  <div class="card-body">
    <table class="table table-hover table-bordered align-middle">
      <thead class="table-light">
        <tr class="text-center">
          <th>Nama</th>
          <th>Kategori</th>
          <th>Harga</th>
          <th>Stok</th>
          <th>Min</th>
          <th>Lokasi</th>
          <% if (user.role === 'manager' || user.role === 'admin') { %>
          <th>Aksi</th>
           <% } %>
        </tr>
      </thead>
      <tbody>

      <% items.forEach(i => { %>
        <tr class="<%= i.stock_qty <= i.min_stock ? 'table-warning' : '' %>">
          <td><strong><%= i.item_name %></strong></td>
          <td><span class="badge bg-secondary"><%= i.category %></span></td>
          <td>Rp <%= i.price.toLocaleString() %></td>

          <td class="text-center">
            <% if (i.stock_qty <= i.min_stock) { %>
              <span class="badge bg-danger"><%= i.stock_qty %></span>
            <% } else { %>
              <span class="badge bg-success"><%= i.stock_qty %></span>
            <% } %>
          </td>

          <td class="text-center"><%= i.min_stock %></td>
          <td><%= i.storage_location %></td>

          <% if (user.role === 'manager' || user.role === 'admin') { %>
          <td class="text-center">
            <a href="/dashboard/edit/<%= i.id %>" class="btn btn-sm btn-primary">
              <i class="bi bi-pencil-square"></i>
            </a>
            <% } %>

            <% if (user.role === 'manager') { %>
              <form action="/dashboard/delete/<%= i.id %>" method="POST" class="d-inline">
                <button class="btn btn-sm btn-danger"
                  onclick="return confirm('Discontinue barang ini?')">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }) %>

      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer') %>
